<h1>Wow you want to be a friend!</h1>

<%= cl_image_tag("sample.jpg",
      width: 400, height: 300, crop: :fill) %>

<p> Hello <%= current_user.first_name %>, you can now create your friend page </p>
<%= simple_form_for(@friend) do |f| %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
