<div class="container d-flex">
  <div class="friend-info">
    <img src="https://source.unsplash.com/DQPP9rVLYGQ" alt="avatar" class="image-avatar">
    <div class="avatar-info">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><strong>1 day:</strong> $<%= @friend.price %></p>
      <p class="location">Lives in <%= @friend.location %></p>
    </div>
    <a href="#"><button class="book-button">Book Now</button></a>
    <%= link_to "Back", friends_path %>
  </div>
  <div class="interests-info">
    <div class="interests-list card">
      <p><strong><%= @user.first_name %> spends most of his time on:</strong></p>
      <div class="specific-interest">
        <p><i class="fas fa-camera"></i> Photography</p>
        <p><i class="fas fa-desktop"></i> Programming</p>
        <p><i class="fas fa-swimmer"></i> Swimming</p>
        <p><i class="fas fa-plane-departure"></i> Travelling</p>
      </div>
    </div>
    <div class="description card">
    <strong><p>A bit about me...</p></strong>
    <p><%= @friend.description %></p>
    </div>
  </div>
</div>

