<h1>What a booking!</h1>
<p>Hey <%= @user.first_name %> <%= @user.last_name %> you have a booking with
<%= @friend.user.first_name %> <%= @friend.user.last_name %> on <%= @booking.date %> at
<%= @booking.start_time.strftime("%R") %> until the <%= @booking.end_time.strftime("%R") %> </p>

<%= link_to "Back", friends_path %> | 
<%= link_to "Dashboard", dashboard_path %>
